.App {
  text-align: center;
}

body {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0;

}

Link {
  text-decoration: none;

}

html {
  font-size: 1.25rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #2a354d;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  padding: 5%;
}

.clickAnim:hover {
  background-color: #e3ffff
}

.clickAnim:active {
  background-color: #e3f2fd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button {
  background-color: #e3f2fd;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.header-buttons {
  font-size: large;
  margin-left: 5%;
  margin-right: 5%;
}

.button-1:hover,
.button-1:focus {
  background-color: #e3f2fd;
}

a:link {
  text-decoration: none;
  color: black
}


a:visited {
  text-decoration: none;
  color: black
}


a:hover {
  text-decoration: none;
  color: black
}


a:active {
  text-decoration: none;
  color: black
}

.App-link {
  color: #e3f2fd;
}

.text-block {
  font-weight: 100;
  line-height: 1.5;
  margin-top: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}